/* nav {
    position: fixed;
    float: left;
    font-family: "Din Alternate";
    font-size: 36px;
    font-weight:bold;
    height: 100px;
    align-content: center;
} */

.logo {
    width: 80px;
    height: 93px;
}


/* why doesn't it work? */
/* .nav:link {
    color: #1D8099;
}

.nav:hover {
    color: #6023C2;
}

nav {
    height: 100px;
    position: fixed;
    Width: 980px;
    margin:auto;
    color: red;
    font-family: Arial, Helvetica, sans-serif;

} */

.nav_left {
    float: left;

}

.nav_right {
    float: right;

}

nav a {
    margin:auto, 20px;

}

.intro {
    background: url("../img/background.png")
}

.work {
    width: 980px;
    margin: auto;
}

.col-4 {
    /* padding: 20px, auto; */
    margin-bottom:20px;
}

.aboutme {
    width: 980px;
    margin: auto;

}


